.analysis-tool {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__iframe-container {
        flex: 1;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        display: block;
    }
}
